@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" id="button_pred_airbnb" onclick="myFunction(); @("window.location.href='" + @Url.Action("Index", "PredictionAirBnBPrice") + "'");">
    AirBnB Prediction Model!
</button>

<button type="button" id="button_movie" onclick="@("window.location.href='" + @Url.Action("Random", "Movies") + "'");">
    Movies!
</button>

<button type="button" id="button_movie" onclick="@("window.location.href='" + @Url.Action("Index", "Configure") + "'");">
    TestDropDownList!
</button>

<script>
    function myFunction() {
        document.getElementById("button_pred_airbnb").style.backgroundColor = "green";
    }
</script>